In [1]:
from sklearn.model_selection import train_test_split

In [2]:
import numpy as np
import seaborn as sb
import pandas as pd

from sklearn.linear_model import LinearRegression

data = pd.read_csv('gold.csv')

In [3]:
data.head()

         Date    Value
0  2016-04-18  1237.70
1  2016-04-15  1229.75
2  2016-04-14  1240.30
3  2016-04-13  1245.75
4  2016-04-12  1259.20

In [4]:
data.shape

(12152, 2)

In [5]:
data.tail()

             Date  Value
12147  1968-04-05   37.2
12148  1968-04-04   36.7
12149  1968-04-03   37.7
12150  1968-04-02   37.6
12151  1968-04-01   38.0

In [6]:
y = data['Value']

In [7]:
X = data['Date']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

In [9]:
print X_train.shape
print X_test.shape
print y_train.shape
print y_test.shape

(9114,)
(3038,)
(9114,)
(3038,)

In [10]:
linreg = LinearRegression()

In [12]:
print max(X)

2016-04-18

In [13]:
print min(X)

1968-04-01

In [ ]:
import datetime as dt

In [ ]:
print X.head()

In [15]:
Z = (pd.to_datetime(data['Date']) - pd.to_datetime(min(data['Date']))).dt.days

In [16]:
Z.head()

0    17549
1    17546
2    17545
3    17544
4    17543
Name: Date, dtype: int64

In [17]:
Z.tail()

12147    4
12148    3
12149    2
12150    1
12151    0
Name: Date, dtype: int64

In [18]:
data['diff'] = Z

In [19]:
data.head()

         Date    Value   diff
0  2016-04-18  1237.70  17549
1  2016-04-15  1229.75  17546
2  2016-04-14  1240.30  17545
3  2016-04-13  1245.75  17544
4  2016-04-12  1259.20  17543

In [21]:
data.tail()

             Date  Value  diff
12147  1968-04-05   37.2     4
12148  1968-04-04   36.7     3
12149  1968-04-03   37.7     2
12150  1968-04-02   37.6     1
12151  1968-04-01   38.0     0

In [29]:
data_sam = data.groupby(data.columns.tolist()).size().reset_index().rename(columns={0:'count'})

print data_sam.drop_duplicates()

             Date    Value   diff  count
0      1968-04-01    38.00      0      1
1      1968-04-02    37.60      1      1
2      1968-04-03    37.70      2      1
3      1968-04-04    36.70      3      1
4      1968-04-05    37.20      4      1
5      1968-04-08    37.00      7      1
6      1968-04-09    37.25      8      1
7      1968-04-10    37.60      9      1
8      1968-04-11    38.05     10      1
9      1968-04-16    38.10     15      1
10     1968-04-17    38.00     16      1
11     1968-04-18    37.60     17      1
12     1968-04-19    37.65     18      1
13     1968-04-22    38.30     21      1
14     1968-04-23    38.05     22      1
15     1968-04-24    38.35     23      1
16     1968-04-25    38.25     24      1
17     1968-04-26    38.50     25      1
18     1968-04-29    38.55     28      1
19     1968-04-30    39.10     29      1
20     1968-05-01    39.10     30      1
21     1968-05-02    39.25     31      1
22     1968-05-03    39.60     32      1
23     1968-05-06    39.70     35      1
24     1968-05-07    39.30     36      1
25     1968-05-08    39.50     37      1
26     1968-05-09    39.70     38      1
27     1968-05-10    39.80     39      1
28     1968-05-13    39.40     42      1
29     1968-05-14    39.60     43      1
...           ...      ...    ...    ...
12122  2016-03-04  1271.50  17504      1
12123  2016-03-07  1267.60  17507      1
12124  2016-03-08  1274.10  17508      1
12125  2016-03-09  1258.25  17509      1
12126  2016-03-10  1247.25  17510      1
12127  2016-03-11  1262.25  17511      1
12128  2016-03-14  1256.55  17514      1
12129  2016-03-15  1233.60  17515      1
12130  2016-03-16  1233.10  17516      1
12131  2016-03-17  1269.60  17517      1
12132  2016-03-18  1254.50  17518      1
12133  2016-03-21  1244.25  17521      1
12134  2016-03-22  1251.80  17522      1
12135  2016-03-23  1232.20  17523      1
12136  2016-03-24  1216.45  17524      1
12137  2016-03-29  1216.45  17529      1
12138  2016-03-30  1238.20  17530      1
12139  2016-03-31  1233.60  17531      1
12140  2016-04-01  1232.10  17532      1
12141  2016-04-04  1215.00  17535      1
12142  2016-04-05  1231.50  17536      1
12143  2016-04-06  1225.75  17537      1
12144  2016-04-07  1237.50  17538      1
12145  2016-04-08  1235.00  17539      1
12146  2016-04-11  1247.25  17542      1
12147  2016-04-12  1259.20  17543      1
12148  2016-04-13  1245.75  17544      1
12149  2016-04-14  1240.30  17545      1
12150  2016-04-15  1229.75  17546      1
12151  2016-04-18  1237.70  17549      1

[12152 rows x 4 columns]

In [58]:
K = data_sam[['diff','Date']]

In [59]:
y = data_sam['Value']

In [60]:
K_train, K_test, y_train, y_test = train_test_split(K,y,random_state=1)

In [61]:
print K_train.shape
print K_test.shape

(9114, 2)
(3038, 2)

In [62]:
print y_train.shape
print y_test.shape

(9114,)
(3038,)

In [63]:
linreg = LinearRegression()
linreg.fit(K_train,y_train)

print linreg.intercept_
print linreg.coef_

ValueError: invalid literal for float(): 1969-03-05

In [53]:
y_pred = linreg.predict(K_test)

In [50]:
from sklearn import metrics
import numpy as np

print np.sqrt(metrics.mean_squared_error(y_test,y_pred))

254.064338007