In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

series_obj = Series(np.arange(6))
series_obj

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [4]:
DD_obj = DataFrame({'col1':[1,1,2,2,3,4,4,5],'col2':['a','a','a','b','b','c','c','d'],'col3':['A','A','A','B','B','C','C','D']})
DD_obj

   col1 col2 col3
0     1    a    A
1     1    a    A
2     2    a    A
3     2    b    B
4     3    b    B
5     4    c    C
6     4    c    C
7     5    d    D

In [6]:
DD_obj.duplicated()

0    False
1     True
2    False
3    False
4    False
5    False
6     True
7    False
dtype: bool

In [7]:
DD_obj.drop_duplicates()

   col1 col2 col3
0     1    a    A
2     2    a    A
3     2    b    B
4     3    b    B
5     4    c    C
7     5    d    D

In [8]:
DD_obj.duplicated()

0    False
1     True
2    False
3    False
4    False
5    False
6     True
7    False
dtype: bool

In [9]:
dd_dup = DD_obj.drop_duplicates()

In [10]:
dd_dup

   col1 col2 col3
0     1    a    A
2     2    a    A
3     2    b    B
4     3    b    B
5     4    c    C
7     5    d    D

In [13]:
DD_obj.drop_duplicates(['col3'])

   col1 col2 col3
0     1    a    A
3     2    b    B
5     4    c    C
7     5    d    D