In [5]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

missing = np.nan

#series_obj = Series(np.arange(8),index=['row1','row2','row3','row4','row5','row6','row7','row8'])
series_obj = Series(['row1',missing,'row2','row3',missing,missing,'row6'])
series_obj

0    row1
1     NaN
2    row2
3    row3
4     NaN
5     NaN
6    row6
dtype: object

In [6]:
series_obj.isnull()

0    False
1     True
2    False
3    False
4     True
5     True
6    False
dtype: bool

In [7]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape(6,6))
DF_obj

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [9]:
DF_obj.ix[1:3,0] = missing

In [10]:
DF_obj.ix[3:5,5] = missing
DF_obj

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1       NaN  0.437611  0.556229  0.367080  0.402366  0.113041
2       NaN  0.585445  0.161985  0.520719  0.326051  0.699186
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4  0.514244  0.559053  0.034450  0.719930  0.421004       NaN
5  0.281701  0.900274  0.669612  0.456069  0.289804       NaN

In [11]:
filled_DF = DF_obj.fillna(0)

In [12]:
filled_DF

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.000000  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.000000  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.000000  0.836375  0.481343  0.516502  0.383048  0.000000
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.000000
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.000000

In [15]:
filled_DF = DF_obj.fillna({0:0,5:1.25})

In [16]:
filled_DF

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.000000  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.000000  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.000000  0.836375  0.481343  0.516502  0.383048  1.250000
4  0.514244  0.559053  0.034450  0.719930  0.421004  1.250000
5  0.281701  0.900274  0.669612  0.456069  0.289804  1.250000

In [17]:
fill_df = DF_obj.fillna(method="ffill")
fill_df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.870124  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.870124  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.870124  0.836375  0.481343  0.516502  0.383048  0.699186
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.699186
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.699186

In [20]:
np.random.seed(25)
DF_new = DataFrame(np.random.rand(36).reshape(6,6))
DF_new.ix[1:3,0] = missing
DF_new

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1       NaN  0.437611  0.556229  0.367080  0.402366  0.113041
2       NaN  0.585445  0.161985  0.520719  0.326051  0.699186
3       NaN  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [23]:

DF_new

          0         1         2         3         4         5  (3, 5, 4)
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376        NaN
1       NaN  0.437611  0.556229  0.367080  0.402366  0.113041        NaN
2       NaN  0.585445  0.161985  0.520719  0.326051  0.699186        NaN
3       NaN  0.836375  0.481343  0.516502  0.383048  0.997541        NaN
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935        NaN
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819        NaN

In [25]:
DF_new.ix[2:3,3] = missing

In [26]:
np.random.seed(25)
DF_old = DataFrame(np.random.rand(36).reshape(6,6))
DF_old

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [27]:
DF_old.ix[1:3,0]=missing
DF_old.ix[2:5,2]=missing
DF_old

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1       NaN  0.437611  0.556229  0.367080  0.402366  0.113041
2       NaN  0.585445       NaN  0.520719  0.326051  0.699186
3       NaN  0.836375       NaN  0.516502  0.383048  0.997541
4  0.514244  0.559053       NaN  0.719930  0.421004  0.436935
5  0.281701  0.900274       NaN  0.456069  0.289804  0.525819

In [28]:
DF_old.isnull().sum()

0    3
1    0
2    4
3    0
4    0
5    0
dtype: int64