In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

DF_obj = DataFrame(np.arange(36).reshape(6,6))
DF_obj

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [2]:
series = Series(np.arange(9))
series

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int64

In [3]:
directory = '/Users/labattula/Documents/Lakshman/Future-ML/MyDS/Ex_Files_Python_Data_Science_EssT/Exercise Files/Ch01/01_05/mtcars.csv'
directory

'/Users/labattula/Documents/Lakshman/Future-ML/MyDS/Ex_Files_Python_Data_Science_EssT/Exercise Files/Ch01/01_05'

In [5]:
cars = pd.read_csv(directory)
cars

EmptyDataError: No columns to parse from file

In [8]:
cars = pd.read_csv(directory)
cars.columns = ['car_name','mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']
cars.head()

EmptyDataError: No columns to parse from file

In [9]:
directory = '/Users/labattula/Documents/Lakshman/Future-ML/MyDS/Ex_Files_Python_Data_Science_EssT/Exercise Files/Ch01/01_05/mtcars.csv'
cars = pd.read_csv(directory)
cars.columns = ['car_name','mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']
cars.head()

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [10]:
car_groups = cars.groupby(['gear'])
car_groups.mean()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,carb
gear,,,,,,,,,,
3,16.106667,7.466667,326.300000,176.133333,3.132667,3.892600,17.692,0.200000,0.000000,2.666667
4,24.533333,4.666667,123.016667,89.500000,4.043333,2.616667,18.965,0.833333,0.666667,2.333333
5,21.380000,6.000000,202.480000,195.600000,3.916000,2.632600,15.640,0.200000,1.000000,4.400000

In [11]:
car_groups = cars.groupby(['cyl'])
car_groups.mean()

,mpg,disp,hp,drat,wt,qsec,vs,am,gear,carb
cyl,,,,,,,,,,
4,26.663636,105.136364,82.636364,4.070909,2.285727,19.137273,0.909091,0.727273,4.090909,1.545455
6,19.742857,183.314286,122.285714,3.585714,3.117143,17.977143,0.571429,0.428571,3.857143,3.428571
8,15.100000,353.100000,209.214286,3.229286,3.999214,16.772143,0.000000,0.142857,3.285714,3.500000

In [12]:
car_group = cars.groupby(['cyl','gear'])
car_group.mean()

             mpg        disp          hp      drat        wt     qsec   vs  \
cyl gear
4   3     21.500  120.100000   97.000000  3.700000  2.465000  20.0100  1.0
    4     26.925  102.625000   76.000000  4.110000  2.378125  19.6125  1.0
    5     28.200  107.700000  102.000000  4.100000  1.826500  16.8000  0.5
6   3     19.750  241.500000  107.500000  2.920000  3.337500  19.8300  1.0
    4     19.750  163.800000  116.500000  3.910000  3.093750  17.6700  0.5
    5     19.700  145.000000  175.000000  3.620000  2.770000  15.5000  0.0
8   3     15.050  357.616667  194.166667  3.120833  4.104083  17.1425  0.0
    5     15.400  326.000000  299.500000  3.880000  3.370000  14.5500  0.0

            am      carb
cyl gear
4   3     0.00  1.000000
    4     0.75  1.500000
    5     1.00  2.000000
6   3     0.00  1.000000
    4     0.50  4.000000
    5     1.00  6.000000
8   3     0.00  3.083333
    5     1.00  6.000000

In [13]:
car_gro = cars.groupby(['cyl','gear','am'])
car_gro.mean()

                   mpg        disp          hp      drat        wt     qsec  \
cyl gear am
4   3    0   21.500000  120.100000   97.000000  3.700000  2.465000  20.0100
    4    0   23.600000  143.750000   78.500000  3.805000  3.170000  21.4500
         1   28.033333   88.916667   75.166667  4.211667  2.114167  19.0000
    5    1   28.200000  107.700000  102.000000  4.100000  1.826500  16.8000
6   3    0   19.750000  241.500000  107.500000  2.920000  3.337500  19.8300
    4    0   18.500000  167.600000  123.000000  3.920000  3.440000  18.6000
         1   21.000000  160.000000  110.000000  3.900000  2.747500  16.7400
    5    1   19.700000  145.000000  175.000000  3.620000  2.770000  15.5000
8   3    0   15.050000  357.616667  194.166667  3.120833  4.104083  17.1425
    5    1   15.400000  326.000000  299.500000  3.880000  3.370000  14.5500

              vs      carb
cyl gear am
4   3    0   1.0  1.000000
    4    0   1.0  2.000000
         1   1.0  1.333333
    5    1   0.5  2.000000
6   3    0   1.0  1.000000
    4    0   1.0  4.000000
         1   0.0  4.000000
    5    1   0.0  6.000000
8   3    0   0.0  3.083333
    5    1   0.0  6.000000